<h4>Agregar Personaje</h4>
    <form class="row" (ngSubmit)="emitCharacter()">

      <input type="text"
       [(ngModel)]="character.name"
       name="name"
       class="form-control mb-2"
       placeholder="Nombre"
       value={{characterToUpdate.name}}>


      <input type="text"
       [(ngModel)]="character.power"
       name="power"
       class="form-control mb-2"
      placeholder="Poder"
      value={{characterToUpdate.power}}>

      <div>
      <button class="btn btn-primary mx-auto" type="submit" >Agregar</button>
      <button (click)="clear()" class="btn btn-primary mx-auto" type="submit" >Limpiar</button>
      </div>

    </form>

